extends layout

block content
    main.container
        h1 Login
        form(action="/login" method="POST")
            label(for="username") User:
            input(type="text", id="username" name="username", required)
            br
            label(for="password") Password:
            input(type="password", id="password" name="password", required)
            button.add-button(type="submit") Login
            a.back-button(href="/signin") Signin
